.header {
    height: 100px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: space-between;
  }
  
  .header > img {
    height: 100%;
  }
  
  .header > div {
    display: flex;
    width: 100%;
    margin-left: 4vmax;
    border: 1px solid rgb(30, 30, 30);
    justify-content: flex-start; /* Change this property to reduce space */
  }
  
  .header > svg {
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  